@use "grid" as *;
@use "bs" as *;
.featuredpublications {
  @include clearfix();
  padding:0 2rem;
  margin: 0;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}

.featuredpublication {



  @include make-xs-column(12);
  @include make-md-column(6);
  @include make-lg-column(4);


  padding-bottom:2em;
  &:nth-child(n+3) {
    display:none;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom:1rem;
  }

  @media (min-width: $screen-lg-min) {
    &:nth-child(n+3) {
      display:block;
    }
  }

  .cover {
    position:relative; width:100%; padding-top:100%;
  }
 
  img {
    position:absolute; top:0; width:100%; height:100%; display:block; object-fit:contain;

  }

  h3 {
    margin-top:1em;
    font-weight:300;

  }

}

.authors {
  @include clearfix();
  padding:1rem;

}

.authorname {
  font-size:1rem;
  text-transform: uppercase;
  font-weight:400;
  margin:.5em 0;
}

.publication {
  position: relative;
  margin-bottom: 1em;
  padding-top:1rem;
  @include make-md-column(4);
  @include make-lg-column(3);

  @media (min-width: $screen-md-min) {
    &:nth-child(3n + 1) {
      clear: left;
    }
  }
  @media (min-width: $screen-lg-min) {
    &:nth-child(3n + 1) {
      clear: none;
    }
    &:nth-child(4n + 1) {
      clear: left;
    }
  }
  a {
    @include clearfix();
    transition: background-color .75s;
    border-radius: 0.5em;
    display: block;
    margin: 0 -$grid-gutter-width / 2;
    padding: $grid-gutter-width/2;
    text-decoration: none;
    &:hover {
      background-color: hsl(60, 17%, 95%);
    }
  }

}
